*,
*::before,
*::after {
  box-sizing: border-box;
}

/*.section {
  /*  padding-top: 36px;
    padding-bottom: 32px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.container {    
       
    
    
    

 
    @media screen and (min-width: 1024px) {
      
      
    }

    @media screen and (min-width: 1280px) {
      
    }
}
*/